{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block sub_title %}Dashboard{% endblock %}

{% block main_content %}
{#<div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">#}
<div class="grid grid-cols-1 items-start lg:grid-cols-3 lg:gap-8">
    <!-- Left column -->

{#    <div class="gap-4 grid grid-cols-1 lg:col-span-2 px-4 py-6 sm:px-0"></div>#}
    <div class="grid grid-cols-1 gap-4 lg:col-span-2 sm:px-0"></div>

    <!-- Right column -->
    <div class="grid grid-cols-1 gap-4 px-4 py-6 sm:px-0">
        {% include 'game/_table.html.twig' %}

        {% include 'game/_news.html.twig' %}
    </div>
</div>
{% endblock %}
